
nav .nav_top {
   margin: 0;
   padding: 0;
   width: 100%;
   display: flex;
   justify-content: space-around;
   gap: 5%;
   height: auto;
}
nav .nav_top .container .slogan{
   display: flex;
   justify-content: space-between;
}
nav .nav_top .container .slogan .nav_left{
   width: 50%;
   height: max-content;
   text-align: center;
}
nav .nav_top .slogan .nav_right{
   width: 40%;
   display: flex;
   align-items: center;
}

nav .nav_top .nav_left h1{
   text-align: center;
   font-size: 70px;
   width: 100%;
   height: auto;
}
nav .nav_top .nav_right img{
   width: 80%;
}
nav .nav_top .nav_left .button_left a{
   text-decoration: none;
   color:white; 
   padding: 3%;
}
nav .nav_top .nav_left .button_left span{
   font-size: 23px;
   padding: 1%;
   border-radius: 20px;
   background-color: #0095FF;
}
/* section_footer*/
section .section_footer .steps-container{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   padding: 3%;
   margin-top: 20px;
}
section .section_footer .steps-container .step{
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding: 20px;
width: 200px;
text-align: center;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section .section_footer .steps-container .step img{
width: 60px;
height: 60px;
margin-bottom: 15px;
}
section .section_footer .steps-container .step p{
font-size: 14px;
color: #555;
}
section .section_footer .steps-container .arrow{
font-size: 24px;
color: #007bff;
display: flex;
align-items: center;
}
/*** */
/*trangchu*/

/*nav_footer*/
nav .nav_footer .content{
   height: 200px;
   text-align: center;
   justify-content: space-evenly;
   display: flex;
}
nav .nav_footer .content .box{
   width: 13%;
   position: relative;
   z-index: 1;
}
nav .nav_footer .content .box .img{
   width: 100%;
   position: absolute;
}
nav .nav_footer .content .box .comment{
   z-index: -1;
   padding: 20%;
   border-radius: 10px;
   top: 24%;
   position: absolute;
   background-color: #0095FF;
}
nav .nav_footer .content .box .comment a{
   font-size: 26px;
   text-decoration: none;
   color: white;
}

section a{
   text-decoration: none;
}
/****/
/*nav_footer*/
 nav .nav_footer{
   width: 100%;
}
nav .nav_footer .banner{
  height: 200px;
  width: 100%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
}
nav .nav_footer .banner .slideshow-container{
  width: 95%;
}

nav .nav_footer .banner .slideshow-container .banner1 img{
 width: 100%;
 object-fit: cover;
 height: 200px;
  
}
/****/

/*section*/
section h1{
    font-size: 30px;
    color: #0095FF;
    margin-top: 3%;
    margin-left: 2%;
}

/****/
/*section_top*/
section .section_top{
    margin: 0;
    padding: 0;
    width: 100%;
}
section .section_top .stye_box{
    width: 100%;
    display: flex;
}
section .section_top .stye_box .box_left{
   width: 80%;
   padding: 2%;
   display: flex;
   gap: 10%;
}
section .section_top .box_left .box1{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 10%;
    border-radius: 10px;
    background-color: #C0F7FF;
    box-shadow: 10px 10px 2px rgb(0 0 0 / 20%);
    padding: 1%;
 }
 section .section_top .box_left .box1 a{
   text-decoration: none;
   color: #333;
}
 section .section_top .box_right{
   display: flex;
   justify-content: center;
   padding: 2%;
   gap: 5%;
   width: 20%;
 }
 section .section_top .box_right .next-back{
   display: flex;
   justify-content: flex-end;
   gap: 10%;
}
section .section_top .box_right .next-back i{
   font-size: 40px ;
}
section .section_top .box_right .next-back button{
   width: 100%;
   border: none;
   background-color: white;
}
 section .section_top .section_box_top .box_mid {
    display: flex;
    width: 100%;
    gap: 1%;
 }
 section .section_top .section_box_top .box_mid .box2{
    display: flex;
    width: 33%;
    gap: 1%;
 }
 section .section_top .section_box_top .box_mid .box2 .img-box{
    position: relative;
    width: 100%;
    height: 250px;
    padding: 5%;
    
 }
 section .section_top .section_box_top .box_mid .box2 .img-box img{
    position: absolute;
    width: 90%;
    border-radius: 20px;
    box-shadow: 10px 10px 2px rgb(0 0 0 / 20%);
 }
 section .section_top .section_box_top .box_mid .box2 .comment-2{
    position: absolute;
    display: none;
    justify-content: center;
    width:90% ;
    background-color: #C0F7FF;
    gap: 6%;
    opacity: 1;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
    margin-top: 210px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
 }

 section .section_top .section_box_top .box_mid .box2 :hover .comment-2{
  display: flex;
}
 /****/
 /* section_mid*/

 section .section_mid{
    width: 100%;
    margin: 0;
    padding: 0;
 }
 section .section_mid .stye_box{
     width: 100%;
     display: flex;
 }

 section .section_mid .box_right{
    width: 100%;
    margin-right: 1px;
 }
 section .section_mid .section_box .box_right .next-back{
    padding: 1%;
    border-radius: 20px;
    background-color: #0095FF;
    float: right;
    margin-right: 5%;
 }
 section .section_mid .section_box .box_mid {
    display: flex;
    width: 100%;
    gap: 1%;
 }
 
 section .section_mid .section_box .box_mid .box3{
    display: flex;
    width: 33%;
    gap: 1%;
 }
 section .section_mid .section_box .box_mid .box3 .img-box{
    position: relative;
    width: 100%;
    height: 250px;
    padding: 5%;
    
 }
 section .section_mid .section_box .box_mid .box3 .img-box img{
    position: absolute;
    width: 90%;
    border-radius: 20px;
    box-shadow: 10px 10px 2px rgb(0 0 0 / 20%);
 }
 section .section_mid .section_box .box_mid .box3 .comment-2{
   position: absolute;
   display: none;
   justify-content: center;
   width:90% ;
   background-color: #C0F7FF;
   gap: 6%;
   opacity: 1;
   margin-top: 210px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   z-index: 1;
   
 }
 section .section_mid .section_box .box_mid .box3 :hover .comment-2{
   display: flex;
 }
 /****/
 /*section_footer*/
 section .section_footer{
    width: 100%;
    margin: 0;
    padding: 0;
 }
 section .section_footer .stye_box{
     width: 100%;
     display: flex;
 }
 section .section_footer .box_left{ 
    width: 80%;
    padding: 3%;
 }
 section .section_footer .box_right{
    width: 100%;
    margin-right: 1px;
 }
 section .section_footer .section_box .box_right .next-back{
   padding: 1%;
   border-radius: 20px;
   background-color: #0095FF;
   float: right;
   margin-right: 5%;
 }
 section .section_footer .section_box .box_mid {
    display: flex;
    width: 100%;
    gap: 1%;
 }
 section .section_footer .section_box .box_mid .box4{
    width: 33%;
    padding: 3%;
 }
 section .section_footer .section_box .box_mid .box4:hover .img-box {
   transform: scale(1.1);
}
section .section_footer .section_box .box_mid .box4:hover .comment {
   transform: scale(1.1);
}
 section .section_footer .section_box .box_mid .box4 .img-box{
    width: 100%;
 }
 section .section_footer .section_box .box_mid .box4 .img-box img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 10px 2px rgb(0 0 0 / 20%);
 }
 section .section_footer .section_box .box_mid .box4 .comment{
    width: 100%;
    background-color: #C0F7FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 section .section_footer .section_box .box_mid .box4 .comment .tieude p{
   padding: 0;
   margin: 0;
   text-align: center;
}
 section .section_footer .section_box .box_mid .box4 .comment .comment-2{
    display: flex;
    justify-content: flex-start;
    gap: 30%;
    opacity: 90%;
 }
 /****/
 
 /*KhoaHoc*/

 /*section*/
 section .section_footer_kh .section_box .box_mid {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;

}
 section .section_footer_kh .section_box .box_mid .box4{
   width: 25%;
   padding: 3%;
}
 section .section_footer_kh .section_box .box_mid .box4 .kh-comment{
   margin: 0;
   padding: 0;
   width: 100%;
   background-color: #C0F7FF;
   border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}
section .section_footer_kh .section_box .box_mid .box4 .kh-comment .tieude {
   padding: 5%;
  
 }
section .section_footer_kh .section_box .box_mid .box4 .kh-comment .tieude p{
   text-align: center;
   margin: 0;
   font-size: 20px;
 }
 section .section_footer_kh .section_box .box_mid .box4:hover .kh-comment {
   transform: scale(1.1);
}
section .section_footer_kh .section_box .box_mid .box4 .kh-comment .comment-2{
   display: flex;
   width:100% ;
   opacity: 90%;
   justify-content: space-evenly;
}
section .section_footer_kh .section_box .box_mid .box4 .img-box img{
   width: 100%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
section .section_footer_kh .section_box .box_mid .box4 .comment{
   width: 100%;
   background-color: #C0F7FF;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}
section .section_footer_kh .section_box .box_mid .box4 .comment .tieude p{
   padding: 0;
   margin: 0;
   text-align: center;
}
 section .section_footer_kh .section_box .box_mid .box4 .comment .comment-2{
    display: flex;
    justify-content: flex-start;
    gap: 30%;
    opacity: 90%;
 }
 section .section_footer_kh .section_box .box_mid .box4:hover .img-box {
   transform: scale(1.1);
}
.hidder {
   display: none;
}
section .section_footer_kh .pagination {
   display: flex;
   justify-content: center;
  background-color: #E8FAFD;
  padding: 1%;
}
section .section_footer_kh .pagination .dot {
   height: 25px;
   width: 25px;
   background-color: lightgray;
   border-radius: 50%;
   display: inline-block;
   cursor: pointer;
   margin: 0 5px;
   text-align: center;
}
section .section_footer_kh .pagination .dot.active {
   text-align: center;
   font-size: 18px;
}

 /****/

 /****/

 /*Kick_khoahoc*/
 /*nav_top_kick*/
 nav .nav_top_kick{
   margin: 0;
   padding: 0;
   background-color: #C0F7FF;
   width: 100%;
 }
 nav .nav_top_kick .nav_top{
   width: 100%;
   display: flex;
   justify-content: flex-end;
 }
 nav .nav_top_kick .nav_top .left{
   display: flex;
   justify-content: center;
   width: 45%;
   
}
nav .nav_top_kick .nav_top .left h1{
   color: #0095FF;
   height: auto;
   margin-top: 15%;
   font-size: 45px;
}

nav .nav_top_kick .nav_top .right{
   width: 40%;
   display: flex;
   justify-content: center;
}
nav .nav_top_kick .nav_top .right .img_right{
   width: 100%;
}
nav .nav_top_kick .nav_top .right .img_right img{
   width: 50%;
   margin-left: 30%;
}
/*nav_mid*/
nav .nav_top_kick .nav_mid p{
   font-size: 35px;
   width: 50%;
   margin-left: 10%;
}
/****/
/*nav_footer*/

nav .nav_top_kick .nav_footer{
   width: 100%;
}
nav .nav_top_kick .nav_footer .button{
   width: 100%;
   display: flex;
   padding: 2%;
   justify-content: space-around;
}
nav .nav_top_kick .nav_footer .button .button_left{
   width: 20%;
}
nav .nav_top_kick .nav_footer .button .button_right{
   width: 20%;
}
nav .nav_top_kick .nav_footer .button .button_left .kick{
   background-color: #0095FF;
   width: 100%;
   padding: 5%;
   text-align: center;
   border-radius: 20px;
}
nav .nav_top_kick .nav_footer .button .button_right .kick{
   background-color: #0095FF;
   width: 100%;
   padding: 5%;
   text-align: center;
   border-radius: 20px;
}
nav .nav_footer{
   width: 100%;
   text-align: center;
}
nav .nav_footer i{
   padding: 1%;
   font-size: 100px;
   
}
/****/
/*section_top*/
section .section_top .section_top_kick{
   width: 100%;
   padding-top: 5%;
   padding-block-end: 5%;
   display: flex;
   justify-content: space-around;
}
 section .section_top .section_top_kick .left{
   width: 40%;
 }
 section .section_top .section_top_kick .left .practice p{
   font-size: 20px;
   width: 90%;
   padding-top: 5%;
 }
 section .section_top .section_top_kick .right{
   width: 20%;
   display: flex;
   position: relative;
 }

 section .section_top .section_top_kick .right .img_right{
  position: absolute;
  top: 30%;
  left: 40%;
 }
 
/****/
/*section_mid*/
section .section_mid .section_mid_kick{
   margin-top: 8%;
   padding-top: 5%;
   padding-block-end: 5%;
   background-color: #C0F7FF;
   display: flex;
   justify-content: space-around;
 }
 section .section_mid .section_mid_kick .left{
   width: 40%;
 }
 section .section_mid .section_mid_kick .left .practice p{
   width: 90%;
   font-size: 20px;
   padding-top: 5%;
 }
 section .section_mid .section_mid_kick .right{
   width: 20%;
 }
 section .section_mid .section_mid_kick .right .bloc{
   width: 100%;
 }
 section .section_mid .section_mid_kick .right .bloc img{
  width: 100%;
  border-radius: 100%;
  padding: 1%;
 }
 /****/
 section .section_mid .button{
   background-color: #C0F7FF;
   

 }
 section .section_mid .section_mid_kick .left .practice .button .kick{
   background-color: #0095FF;
   width: 30%;
   padding: 2%;
   text-align: center;
   border-radius: 20px;
 }

 /****/
 /*hocthu*/
 section .section_top_ht{
   width: 100%;
   padding: 1%;
   background-color: #C0F7FF;
 }
 section .section_top_ht .video_comment{
   width: 100%;
   display: flex;
   gap: 2%;
   margin-top: 2%;
 }
 section .section_top_ht .video_comment .left{
   width: 100%;
 }
 section .section_top_ht .video_comment .right{
   width: 80%;
 }
 section .section_top_ht .video_comment .right .comment{
   width: 100%;
   padding: 2%;
   background-color: white;
   border-radius: 20px;
 }
 section .section_top_ht .video_comment .left .video_ht img{
   background-image: url(../img/5.jpg);
   width: 100%;
 }
 section .section_top_ht .video_comment .right .comment .button .kick{
   background-color: #0095FF;
   width: 30%;
   padding: 3%;
   text-align: center;
   border-radius: 20px;
}
section .button .kick{
   background-color: #0095FF;
   width: 20%;
   margin-top: 2%;
   padding: 2%;
   border-radius: 20px;
   text-align: center;
}

 /****/

 /*hocbai*/
 section .section_top .section_top_hb{
   background-color: #C0F7FF;
 }
 section .section_top .section_top_hb{
   width: 100%;
 }
 section .section_top .section_mid_hb {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   background-color: #C0F7FF;
 }
 section .section_top .section_mid_hb .left {
   width: 60%;
   border-radius: 20px;
   padding-block-end: 3%;
   
 }
 section .section_top .section_mid_hb .left .kick{
   width: 10%;
   padding: 2%;
   border-radius: 20px;
   text-align: center;
   background-color:#0095FF;
 }
 section .section_top .section_mid_hb .left .video_comment {
  border-radius: 20px;
 }
 section .section_top .section_mid_hb .left .video_comment .video_ht video{
   background-image: url(../img/5.jpg);
   width: 100%;
 }
 section .section_top .section_mid_hb .right {
   border-radius: 20px;
   width: 30%;
 }
 section .section_top .section_mid_hb .right .comment {
   padding: 2%;
   border-radius: 20px;
   background-color: #9DF3FF;
 }
 section .section_top .section_mid_hb .right .r_project {
   background-color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 95%;
   padding: 2%;
   margin-top: 5%;
   border-radius: 20px;
 }
 section .section_top .section_mid_hb .right .r_project .project{
   display: flex;
   gap: 5%;
 }
 section .section_top .section_mid_hb .right .r_project .project .box1{
   display: flex;
   width: 50%;
   align-items: center;
   justify-content: center;
   gap: 5%;
 }

 /****/
 /*khoahoccuatoi*/

 .tabs-container {
   display: flex; 
   align-items: center;
   justify-content: space-between; 
}
.tabs a.active {
   background-color: #9df3ff; 
   color: #000; 
   font-weight: bold; 
}

.tabs {
   list-style-type: none;
   display: flex;
   border: outset;
   box-shadow: 10px 10px 5px;
}

.tabs li {
   flex: none; 
   text-align: center;
   position: relative;
   padding: 5px 5px; 

}

.tabs li a {
   font-size: 20px; 
   color: #333; 
   display: block;
   padding: 10px ; 
}

.tabs li:not(:last-child)::after {
   content: '';
   position: absolute;
   right: 0;
   top: 0;
   height: 100%; 
   width: 1px; 
   background-color: #e0e0e0; 
}

.illustration {
   position: absolute; 
   right: 20px; 
   top: 180px; 
}

.illustration img {
   width: 100px; 
   height: auto; 
}

 /****/
 /*frame5*/
 /* main */
main {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 20px;
   background-color: #c0f7ff;
}

.video-section {
   flex: 2;
   padding-right: 20px;
}

.video-player video {
   width: 1007px;
   border-radius: 10px;
}

.video-info h2 {
   font-size: 24px;
   margin-bottom: 10px;
}

.video-info p {
   margin-bottom: 20px;
}

.video-info {
   display: flex; 
   margin-top: 20px;
   justify-content: space-between; 
   align-items: center; 
}

.info-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%; 
   gap: 10%;
}

.info-text {
   display: flex; 
   gap: 15px; 
}

.qa-button {
   background-color: #0095FF; 
   color: #FFFFFF; 
   border: none;
   border-radius: 10px; 
   cursor: pointer; 
   padding: 1%;
   width: 20%;  
   font-size: 23px; 
   display: flex; 
   align-items: center;
   justify-content: center; 
   gap: 10%;
}

.next-lesson {
   margin-top: 20px; 
   background-color: #0095FF;
   color: #FFFFFF;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
   height: 50px;
   font-size: 18px;
   text-align: center;
}

.main-right {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 100px;
}

.sidebar {
   background-color: white; 
   padding: 20px; 
   border-radius: 10px; 
   width: 90%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.sidebar ul {
   list-style: none; 
   padding: 0; 
   margin: 0;
}

.sidebar ul li {
   position: relative; 
   padding: 10px 0; 
   color: #0095FF;
}

.sidebar ul li .arrow-down {
   margin-left: 8px; 
}


.sidebar ul li::after {
   content: ""; 
   display: block; 
   width: 100%; 
   height: 1px; 
   background-color: #0095FF;
   position: absolute; 
   left: 0; 
   bottom: 0; 
}

.dropdown-content {
   display: none; 
   list-style: none; 
   padding: 0; 
   margin: 0; 
   padding-left: 20px; 
}

.dropdown-content a {
   padding: 5px 0; 
   margin-left: 10%;
   display: block;
   text-decoration: none; 
   color: #FFFFFF; 
   transition: color 0.3s ease;
}

.dropdown:hover .dropdown-content {
   display: block; 
}

.arrow-down {
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid #0055AB;
   display: inline-block;
   margin-left: 8px;
   transition: transform 0.3s ease;
}

.dropdown-content a {
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   color: #333;
}

.button-image {
   width: 15%;
}
#openModalBtn {
   background-color: #00a2ff;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}


.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4); 
}


.modal-content {
   background-color: #fff;
   margin: 10% auto;
   padding: 20px;
   border-radius: 10px;
   width: 743px;
   height: 807;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.comment-input {
   width: calc(100% - 80px);
   padding: 10px;
   margin-bottom: 10px;
   border: none; 
   outline: none;
   border-radius: 5px;
}


.button-container {
   display: flex;
   justify-content: flex-end; 
   gap: 10px; 
}

.send-btn, .cancel-btn {
   background-color: #9DF3FF;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 15px 5px 5px 15px;
   cursor: pointer;
   width: 100px;
}

.comment-list {
   margin-top: 20px;
}
.comment-item {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   flex-direction: column; 
   justify-content: flex-start;
}

.comment-avatar {
   width: 30px;
   height: 30px;
   background-color: #ccc;
   border-radius: 50%;
}

.comment-author {
   font-weight: bold;
   margin-left: 10px;
}

.comment-time {
   color: gray;
   font-size: 12px;
   margin-left: 15px;
}



.comment-actions button {
   background: none;
   border: none;
   color: #00a2ff;
   cursor: pointer;
   margin-right: 10px;
}

.comment-actions button:hover {
   text-decoration: underline;

}

 /****/
/*Baiviet*/
 section .section_top .section_top_bv {
   margin: 0;
   padding: 0;
   text-align: center;
 }
 section .section_top .section_top_bv .style_box {
   width: 100%;
   display: flex;
   justify-content: center;
 }
 section .section_top .section_top_bv .style_box .box {
   width: 20%;
   object-fit: cover;
 }
 section .section_top .section_top_bv .style_box .box img {
   width: 100%;
  
 }
/****/
/****/
.main-right {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 100px;
}

.sidebar ul {
   list-style: none; 
   padding: 0; 
   margin: 0;
}

.sidebar ul li {
   position: relative; 
   padding: 10px 0; 
   color: #0095FF;
}
.arrow-down {
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid #0055AB;
   display: inline-block;
   margin-left: 8px;
   transition: transform 0.3s ease;
}
.sidebar ul li .arrow-down {
   margin-left: 8px; 
}

.sidebar ul li::after {
   content: ""; 
   display: block; 
   width: 100%; 
   height: 1px; 
   background-color: #0095FF;
   position: absolute; 
   left: 0; 
   bottom: 0; 
}

.dropdown-content {
   display: none; 
   list-style: none; 
   padding: 0; 
   margin: 0; 
   padding-left: 20px; 
}

.dropdown-content a {
   padding: 5px 0; 
   display: block;
   text-decoration: none; 
   transition: color 0.3s ease;
}

.dropdown:hover .dropdown-content {
   display: block; 
}
/**/

